@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Poppins:wght@300;400;500;600&display=swap');
$background-color:#8257E5;
body{
  font-family: 'Poppins', sans-serif;
}
#app {
  font-family: 'Poppins', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background: $background-color;
  width: 100vw;
  height: 100vh;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.c-white{
  color: white;
  &:hover{
    color: white;
  }
}

@import './buttons';